.contact-title {
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

input,
textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0080ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0055a5;
}

.alertaMensaje {
    padding: 10px;
    border: 1px solid black;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
}

.social-icons a {
    color: #ffffff;
    background-color: #21334b83;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.2);
}