.home-title {
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-parrafo {
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}