.dark {
  background-color: rgb(30, 30, 30);
  color: white;
}

.darkmodebutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.darkmodebutton:hover {
  background-color: rgb(127, 195, 255);
  transition-duration: 0.5s;
}