.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #e100ff;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff !important;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #e100ff !important;
    text-decoration: underline;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item {
    flex: 1;
    margin-right: 10px;
}