.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

.navbar-brand {
    color: white;
}

.navbar {
    background-color: #3333333c;
    border-bottom-color: 1px solid #ff9100;
    font-size: 24px;
}

.navbar-nav li a:hover {
    color: #ff9100;
}

.nav-link {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    color: white;
}

.nav-link:hover {
    border-bottom-color: #ff9100;
}

.navbar-toggler {
    border: 1px solid #ccc
}